#square {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.mode-button {
    margin-bottom: 10px;
    border: none;
}

.mode-button.active {
background-color: rgb(121, 124, 124); 
color: #fff;
border: 1px solid white;
}